.app {
  width: 960px;
  margin: 0 auto 50px;
}

.cols {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
}

.col:first-child {
  padding-right: 10px;
}

.col:last-child {
  padding-left: 10px;
}
