.property {
  position: relative;/* to handle positioning of buttons */
  background: #eee;
  border-radius: 16px;
  padding: 32px;
  margin-top: 32px;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
  background-image: url(/paper.png);
}

.property__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-top: 16px;
}

.property__id {
  font-weight: bold;
  margin-right: 20px;
}

.property__photo img {
  display: block;
  width: 100%;
}

.property__logo {
  text-align: right;
}

.property__buttons {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property:hover .property__buttons {
}

button {
  width: 50%;
  padding: 10px;
  font-size: 48px;
  line-height: 1;
  background: lightblue;
  border: 2px dashed white;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Barlow Condensed', sans-serif;
  text-shadow: 1px 1px white;
}
